Repository zoobzio/zyn: changes, and which Codecov flags are due for each by the changed paths.
All: unit, providers, Core Library, Synapse Types, LLM Providers, Reliability Features

feat: implement providers & finish synapses
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .golangci.yml
  Makefile
  analyze.go
  analyze_test.go
  binary.go
  binary_test.go
  classification.go
  classification_test.go
  convert.go
  convert_test.go
  extraction.go
  extraction_test.go
  mock.go
  options.go
  options_test.go
  prompt.go
  prompt_test.go
  provider.go
  providers/anthropic/anthropic.go
  providers/anthropic/anthropic_test.go
  providers/azure/azure.go
  providers/azure/azure_test.go
  providers/bedrock/bedrock.go
  providers/bedrock/bedrock_test.go
  providers/google/google.go
  providers/google/google_test.go
  providers/openai/openai.go
  providers/openai/openai_test.go
  ranking.go
  ranking_test.go
  sentiment.go
  sentiment_test.go
  service_test.go
  transform.go
  transform_test.go
Due: unit, providers, Core Library, Synapse Types, LLM Providers, Reliability Features

fix: remove toolchain specification
  Makefile
  go.mod
Due: unit

fix: sarif upload
  .github/workflows/codeql.yml
Due: none

fix: release validation
  .github/workflows/release.yml
Due: none

chore: update pipz
  go.mod
  go.sum
Due: unit

fix: remove toolchain
  go.mod
Due: unit

fix: move badges
  README.md
Due: unit

fix: flaky test
  options_test.go
Due: none

fix: use github package url
  go.mod
Due: unit

fix: remove cruft
  .codecov.yml
  .env.example
  .github/workflows/ci.yml
  README.md
  binary_test.go
  providers/anthropic/anthropic.go
  providers/anthropic/anthropic_test.go
  providers/azure/azure.go
  providers/azure/azure_test.go
  providers/bedrock/bedrock.go
  providers/bedrock/bedrock_test.go
  providers/google/google.go
  providers/google/google_test.go
Due: unit, providers, LLM Providers

fix: formatting
  examples/analyze_code/main.go
  examples/analyze_config/main.go
  examples/analyze_data/main.go
  examples/binary/main.go
  examples/binary_spam/main.go
  examples/binary_toxicity/main.go
  examples/classification/main.go
  examples/classification_content/main.go
  examples/classification_email/main.go
  examples/convert_event/main.go
  examples/convert_metric/main.go
  examples/convert_user/main.go
  examples/extraction/main.go
  examples/extraction_dates/main.go
  examples/extraction_entities/main.go
  examples/ranking_performance/main.go
  examples/ranking_popularity/main.go
  examples/ranking_priority/main.go
  examples/sentiment/main.go
  examples/sentiment_review/main.go
  examples/sentiment_social/main.go
  examples/transform_formalize/main.go
  examples/transform_summarize/main.go
  examples/transform_translate/main.go
Due: unit

fix: workflow config
  .github/workflows/ci.yml
Due: none

feat: minor optimizations
  analyze.go
  analyze_test.go
  binary.go
  binary_test.go
  classification.go
  classification_test.go
  convert.go
  extraction.go
  extraction_test.go
  go.mod
  go.sum
  ranking.go
  sentiment.go
  service.go
  temperature.go
  transform.go
  transform_test.go
Due: unit, Core Library, Synapse Types, Reliability Features

fix: minor hook fixes
  README.md
  hooks.go
  hooks_test.go
  providers/openai/openai.go
Due: unit, providers, Core Library, LLM Providers

feat: capitan severity hooks
  go.mod
  go.sum
  providers/openai/openai.go
  service.go
Due: unit, providers, Core Library, LLM Providers, Reliability Features

feat: describe signals
  go.mod
  go.sum
  hooks.go
Due: unit, Core Library

fix: use go.work in ci
  .github/workflows/ci.yml
  go.mod
  go.work.sum
Due: unit

fix: makefile
  Makefile
Due: unit

fix: improve coverage + cleanup
  analyze_test.go
  api_test.go
  binary_test.go
  classification_test.go
  hooks_test.go
  mock.go
  mock_test.go
  ranking_test.go
  schema_test.go
  sentiment_test.go
  testing/helpers.go
  testing/helpers_test.go
  transform_test.go
Due: unit

chore: tidy go.mod
  go.sum
  pkg/anthropic/go.sum
  pkg/gemini/go.sum
  pkg/openai/go.sum
Due: unit

fix: remove release verification issue workflow
  .github/workflows/release.yml
Due: none

fix: update pipz + CI config
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .golangci.yml
  Makefile
  analyze.go
  binary.go
  classification.go
  convert.go
  docs/3.guides/4.reliability.md
  docs/4.cookbook/4.error-handling.md
  docs/5.reference/3.options.md
  extraction.go
  go.mod
  go.sum
  options.go
  options_test.go
  ranking.go
  schema.go
  sentiment.go
  service.go
  service_test.go
  transform.go
Due: unit, Core Library, Synapse Types, Reliability Features

chore: tidy go.mod
  go.mod
  go.sum
Due: unit

feat: package standards + doc improvements
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/release.yml
  .goreleaser.yml
  Makefile
  README.md
  anthropic/anthropic.go
  anthropic/anthropic_test.go
  anthropic/go.mod
  anthropic/go.sum
  docs/2.learn/1.quickstart.md
  docs/2.learn/2.concepts.md
  docs/3.guides/1.installation.md
  docs/3.guides/2.providers.md
  docs/4.cookbook/1.classification-workflows.md
  docs/5.reference/1.cheatsheet.md
  gemini/gemini.go
  gemini/gemini_test.go
  gemini/go.mod
  gemini/go.sum
  go.mod
  openai/go.mod
  openai/go.sum
  openai/openai.go
  openai/openai_test.go
  pkg/anthropic/go.mod
  pkg/anthropic/go.sum
  pkg/gemini/go.mod
  pkg/gemini/go.sum
  pkg/openai/go.mod
  pkg/openai/go.sum
  testing/integration/provider_test.go
Due: unit

fix: ci workflow
  .github/workflows/ci.yml
  .golangci.yml
  go.work.sum
Due: unit

fix: coverage workflow
  .github/workflows/coverage.yml
Due: none

feat: package cleanup
  .github/workflows/ci.yml
  .github/workflows/release.yml
  anthropic/go.mod
  anthropic/go.sum
  gemini/go.mod
  gemini/go.sum
  go.mod
  go.work.sum
  openai/go.sum
  testing/go.mod
  testing/go.sum
Due: unit

feat: tendo provider
  tendo/go.mod
  tendo/go.sum
  tendo/template.go
  tendo/tendo.go
  tendo/tendo_test.go
Due: unit

feat: subpackage release workflow
  .github/workflows/release.yml
Due: none

Path conditions:
  unit: any file but: providers/**, providers/**/*_test.go, **/*_test.go, **/mock*.go, **/testdata/**, docs/**, .github/**, vendor/**
  providers: any of: providers/**, but not: providers/**/*_test.go, **/*_test.go, **/mock*.go, **/testdata/**, docs/**, .github/**, vendor/**
  Core Library: any of: *.go, but not: *_test.go, providers/**, providers/**/*_test.go, **/*_test.go, **/mock*.go, **/testdata/**, docs/**, .github/**, vendor/**
  Synapse Types: any of: binary*.go, classification*.go, ranking*.go, sentiment*.go, extraction*.go, transform*.go, analyze*.go, convert*.go, but not: *_test.go, providers/**/*_test.go, **/*_test.go, **/mock*.go, **/testdata/**, docs/**, .github/**, vendor/**
  LLM Providers: any of: providers/**/*.go, but not: providers/**/*_test.go, providers/**/*_test.go, **/*_test.go, **/mock*.go, **/testdata/**, docs/**, .github/**, vendor/**
  Reliability Features: any of: options*.go, service*.go, but not: *_test.go, providers/**/*_test.go, **/*_test.go, **/mock*.go, **/testdata/**, docs/**, .github/**, vendor/**
